ol {
  list-style: decimal;
  margin: 0;
  padding: 0;
}

li{
  background-color: white;
  /* display: block; */
  border: 1px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 3px 5px;
  width: 500px;
}

#crud-link-delete{
  position: absolute;
  right: -100px;
}
