<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
<br>
<br>
﻿<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>

<label for="quote">Quote:</label>
<input type="text" name="quote" ng-model="vm.user.quote" value="vm.user.quote">
<button type="button" name="saveQuote" ng-click="vm.saveUserQuote()">Save Quote</button>

<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
        <br>
        {{user.quote}}
    </li>
</ul>
<p>&nbsp;</p>
