<div class="col-md-6">
  <!-- <label for="quote">:</label>
  <input type="text" name="post" id="post" ng-model="userPosts">
  <button type="button" name="saveQuote" ng-click="vm.saveUserQuote()">Save Quote</button>
  {{vm.user}} -->

  <br>
  <form name="form" ng-submit="vm.createPost()" role="form">
    <post-form post='vm.post'></post-form>
    <div class="form-actions">
      <button type="submit" ng-disabled="!form.$valid" class="btn btn-primary">Create Post</button>
    </div>
  </form>

</div>
