<div class="col-md-6">
  <p><a ui-sref="app.my-post.create-post" ng-click="vm.resetPost()" class="btn btn-primary">New Post</a></p>
  <h3>My Posts</h3>
  <td>
  <ol>
      <li ng-repeat="post in vm.allMyPosts">
        <a ng-click="vm.getPost(post.id)" ui-sref="app.my-post.update-post">
          <span ng-if="post.type=='applicant'">{{post.title}}. {{post.timestamp | date: 'medium'}}</span>
          <span ng-if="post.type=='employer'">{{post.position}}. {{post.timestamp | date: 'medium'}}</span>
        </a>
        <a id="crud-link-delete" ng-click="vm.deletePost(post.id)">- Delete</a>
      </li>
  </ol>
  </td>
  <p>&nbsp;</p>
</div>
